<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.portsip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- keep app alive in background -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- ====================================================================== -->
    <!-- Permissions for accessing the device microphone -->
    <!-- ====================================================================== -->
    <eat-comment />
    <!--
 Allows an application to record audio.
         <p>Protection level: dangerous
    -->
    <permission
        android:name="android.permission.RECORD_AUDIO"
        android:description="@string/permdesc_recordAudio"
        android:label="@string/permlab_recordAudio"
        android:permissionGroup="android.permission-group.MICROPHONE"
        android:protectionLevel="dangerous" /> <!-- ====================================================================== -->
    <!-- Permissions for accessing the device camera -->
    <!-- ====================================================================== -->
    <eat-comment />
    <!--
 Required to be able to access the camera device.
         <p>This will automatically enforce the <a
         href="{@docRoot}guide/topics/manifest/uses-feature-element.html">
         <uses-feature>}</a> manifest element for <em>all</em> camera features.
         If you do not require all camera features or can properly operate if a camera
         is not available, then you must modify your manifest as appropriate in order to
         install on devices that don't support all camera features.</p>
         <p>Protection level: dangerous
    -->
    <permission
        android:name="android.permission.CAMERA"
        android:description="@string/permdesc_camera"
        android:label="@string/permlab_camera"
        android:permissionGroup="android.permission-group.CAMERA"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.full"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".sipsample.ui.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".sipsample.modification.src.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".sipsample.ui.MainSIPActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden">
                                    <intent-filter>
                                        <action android:name="android.intent.action.MAIN" />

                                        <category android:name="android.intent.category.LAUNCHER" />
                                    </intent-filter>
        </activity>

        <activity
            android:name=".sipsample.modification.admin.PinAdminActivity"
            android:screenOrientation="landscape"
            />

        <activity
            android:name=".sipsample.modification.admin.ConfirmSettingsActivity"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".sipsample.modification.admin.SettingsActivity"
            android:exported="true"
            android:screenOrientation="landscape">


        </activity>


        <activity
            android:name=".sipsample.ui.IncomingActivity"
            android:launchMode="singleInstance"
            android:noHistory="true" />

        <service android:name=".sipsample.service.PortSipService" /> <!-- [START firebase_service] -->
        <service
            android:name=".sipsample.service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>